*.py[cod]
*.log
*.pot
*.pyc
.coverage
.testmondata
__pycache__/

# pycharm ide
.idea/*

# data
/venv/
/windows-venv/

# generated specification
/specification/

# generated fixtures
/features/fixtures/**/Users.json
/features/fixtures/small/
/features/fixtures/medium/
/features/fixtures/large/
/features/fixtures/tiny/

# local environment settings
*.local
