*.py[cod]
*.log
*.pot
*.pyc
.coverage
.testmondata
__pycache__/

# development-specific env
dev.env

# pycharm ide
.idea/*

# data
/venv/
/windows-venv/

# generated specification
/specification/

# unwanted generated fixtures
/features/fixtures/**/Users.json

# local environment settings
*.local
