[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
apipkg = "==1.5"
appdirs = "==1.4.3"
astroid = "==2.2.5"
atomicwrites = "==1.3.0"
attrs = "==19.1.0"
beautifultable = "==0.7.0"
black = "==19.3b0"
certifi = "==2019.6.16"
cfgv = "==2.0.0"
chardet = "==3.0.4"
click = "==7.0"
codecov = "==2.0.15"
colorama = "==0.4.1"
coverage = "==4.5.3"
django-extensions = "==2.1.9"
entrypoints = "==0.3"
execnet = "==1.6.0"
filelock = "==3.0.12"
flake8 = "==3.7.7"
identify = "==1.4.5"
idna = "==2.8"
importlib-metadata = "==0.18"
isort = "==4.3.21"
lazy-object-proxy = "==1.4.1"
mccabe = "==0.6.1"
more-itertools = "==7.1.0"
multidict = "==4.5.2"
nodeenv = "==1.3.3"
pluggy = "==0.12.0"
pre-commit = ">=1.16.0"
py = "==1.8.0"
pycodestyle = "==2.5.0"
pydocstyle = "==3.0.0"
pyflakes = "==2.1.1"
pylint-celery = "==0.3"
pylint-django = "==2.0.9"
pylint-plugin-utils = "==0.5"
pylint = "==2.3.1"
pyparsing = "==2.4.0"
pytest-cov = "==2.6.0"
pytest-django-queries = "==1.1.0"
pytest-django = "==3.4.4"
pytest-forked = "==0.2"
pytest-mock = "==1.10.0"
pytest-vcr = "==1.0.1"
pytest-xdist = "==1.24.1"
pytest = ">=4.0.1"
python-slugify = "==1.2.6"
pytz = "==2019.1"
requests = "==2.22.0"
six = ">=1.11.0"
snowballstemmer = "==1.9.0"
sqlparse = "==0.3.0"
toml = "==0.10.0"
tox = "==3.5.3"
typed-ast = "==1.4.0"
urllib3 = "*"
vcrpy = "==2.0.1"
virtualenv = "==16.6.1"
wcwidth = "==0.1.7"
wrapt = "==1.11.2"
yapf = "==0.27.0"
yarl = "==1.3.0"
zipp = "==0.5.1"
"aspy.yaml" = "==1.3.0"
Django = "==2.2.3"
Jinja2 = "==2.10.1"
MarkupSafe = "==1.1.1"
PyYAML = "==5.1.1"
Unidecode = "==1.1.1"
behave = "==1.2.6"
behave-django = "==1.1.0"
django-cors-headers = "==2.4.0"
pytest-testmon = "==0.9.16"
pytest-watch = "==4.2.0"
transifex-client = "*"

[packages]
amqp = "==2.5.0"
aniso8601 = "==6.0.0"
autopep8 = "==1.4.4"
billiard = "==3.6.0.0"
bleach = "==2.1.4"
boto3 = "==1.9.180"
botocore = "==1.12.180"
braintree = "==3.49.0"
cachetools = "==3.1.1"
cairocffi = "==1.0.2"
celery = {extras = ["redis"],version = "==4.3.0"}
certifi = "==2019.6.16"
cffi = "==1.12.3"
chardet = "==3.0.4"
cssselect2 = "==0.2.1"
dataclasses = "==0.6"
defusedxml = "==0.6.0"
dj-database-url = "==0.5.0"
dj-email-url = "==0.2.0"
django-appconf = "==1.0.3"
django-babel = "==0.6.2"
django-bootstrap4 = "==0.0.8"
django-cache-url = "==3.0.0"
django-countries = "==5.3.3"
django-debug-toolbar-request-history = "==0.0.11"
django-debug-toolbar = "==2.0"
django-elasticsearch-dsl = "==0.5.1"
django-filter = "==2.1.0"
django-graphql-jwt = "==0.2.1"
django-impersonate = "==1.4.1"
django-js-asset = "==1.2.2"
django-measurement = "==3.0.0"
django-mptt = "==0.10.0"
django-phonenumber-field = "==2.4.0"
django-prices-openexchangerates = "==1.0.1"
django-prices-vatlayer = "==1.0.2"
django-prices = "==1.0.4"
django-recaptcha = "==1.5.0"
django-redis = "==4.10.0"
django-render-block = "==0.6"
django-silk = "==2.0.0"
django-storages = {extras = ["google"],version = "==1.7.1"}
django-templated-email = "==2.3.0"
django-versatileimagefield = "==1.10"
django-webpack-loader = "==0.6.0"
docutils = "==0.14"
elasticsearch-dsl = "==6.0.1"
elasticsearch = "==6.3.1"
freezegun = "==0.3.12"
google-api-core = "==1.13.0"
google-auth = "==1.6.3"
google-cloud-core = "==1.0.2"
google-cloud-storage = "==1.16.1"
google-i18n-address = "==2.3.5"
google-measurement-protocol = "==1.0.0"
google-resumable-media = "==0.3.2"
googleapis-common-protos = "==1.6.0"
gprof2dot = "==2016.10.13"
graphene-django-optimizer = "==0.4.2"
graphene-django = "==2.3.2"
graphene = "==2.1.6"
graphql-core = "==2.2"
graphql-relay = "==0.4.5"
html5lib = "==1.0.1"
idna = "==2.8"
ipaddress = "==1.0.22"
jmespath = "==0.9.4"
jsonfield = "==2.0.2"
kombu = "==4.6.3"
maxminddb-geolite2 = "==2018.703"
maxminddb = "==1.4.1"
measurement = "==2.0.1"
mpmath = "==1.1.0"
oauthlib = "==3.0.1"
phonenumberslite = "==8.10.14"
prices = "==1.0.0"
promise = "==2.2.1"
protobuf = "==3.8.0"
psycopg2-binary = "==2.8.3"
purl = "==1.5"
pyasn1-modules = "==0.2.5"
pyasn1 = "==0.4.5"
pycodestyle = "==2.5.0"
pycparser = "==2.19"
python-dateutil = "==2.8.0"
python3-openid = "==3.1.0"
pytz = "==2019.1"
raven = "==6.9.0"
razorpay = "==1.2.0"
redis = "==3.2.1"
requests-oauthlib = "==1.2.0"
requests = "==2.22.0"
rsa = "==4.0"
s3transfer = "==0.2.1"
singledispatch = "==3.4.0.3"
six = ">=1.11.0"
social-auth-app-django = "==3.1.0"
social-auth-core = "==3.2.0"
sqlparse = "==0.3.0"
stripe = "==2.32.0"
sympy = "==1.4"
text-unidecode = "==1.2"
tinycss2 = "==1.0.2"
typing = "==3.7.4"
urllib3 = "*"
vine = "==1.3.0"
webencodings = "==0.5.1"
Babel = "==2.7.0"
CairoSVG = "==2.4.0"
Django = "==2.2.3"
Faker = "==1.0.7"
Jinja2 = "==2.10.1"
Markdown = "==3.1.1"
MarkupSafe = "==1.1.1"
Pillow = "==5.4.1"
Pygments = "==2.3.0"
PyJWT = "==1.7.1"
Pyphen = "==0.9.5"
Rx = "==1.6.1"
uwsgi = {version = ">=2.0.0",platform_system = "!= 'Windows'"}
WeasyPrint = "==43"
apipkg = "==1.5"
astroid = "==2.1.0"
atomicwrites = "==1.2.1"
attrs = "==18.2.0"
bcrypt = "==3.1.7"
codecov = "==2.0.15"
colorama = "==0.4.1"
coverage = "==4.5.2"
django-extensions = "==2.1.4"
dos2unix = "==1"
execnet = "==1.5.0"
filelock = "==3.0.10"
isort = "==4.3.4"
lazy-object-proxy = "==1.3.1"
mccabe = "==0.6.1"
more-itertools = "==4.3.0"
multidict = "==4.5.2"
pluggy = "==0.8.0"
py = "==1.7.0"
pydocstyle = "==3.0.0"
pylint = "==2.2.2"
pylint-celery = "==0.3"
pylint-django = "==2.0.4"
pylint-plugin-utils = "==0.4"
python-slugify = "==1.2.6"
snowballstemmer = "==1.2.1"
toml = "==0.10.0"
vcrpy = "==2.0.1"
virtualenv = "==16.1.0"
wrapt = "==1.10.11"
yapf = "==0.25.0"
yarl = "==1.2.6"
PyYAML = ">=4.2b1"
Unidecode = "==1.0.23"

[requires]
python_version = "3.7"
