.*
**/*.pyc
**/*.sqlite
**/media
**/static
/features/
/future_features/
/production/
/e2e/
/scripts/
/specification/
/test_utils/
/unit_tests/
/venv/
Jenkinsfile
unit_testing.groovy
requirements*.txt
dev.env
